
<form action="/registered" method="post">
  <div>
    <label for="name">Enter name:</label>
    <input type="text" id="Enter name" name="user_name">
  </div>
  <div class="button">
    <button type="submit">Submit</button>
  </div>
</form>
