<form action="/play" method="post">
<div class="button">
<button type="submit">Rock</button>
</div>

<div class="button">
<button type="submit">Paper</button>
</div>

<div class="button">
<button type="submit">Scissors</button>
</div>
</form>
