<h1><%=@user_name%></h1>

<form action="/play" method="post">
<input type="submit" name="user_input" value ="Rock">
<!-- <div class="button">
<button type="submit">Rock</button>
</div> -->

<!-- <div class="button"> -->
<input type="submit" name="user_input" value ="Paper">
<!-- <button type="submit">Paper</button>
</div>

<!-- <div class="button"> -->
<input type="submit" name="user_input" value ="Scissors">
<!-- <button type="submit">Scissors</button>
</div> -->
</form>
